.wordle-tile {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d3d6da;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  user-select: none;
}

.guess-row {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.guess-input input {
  font-size: 1rem;
  padding: 0.4rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  width: 13rem;
}
