.square .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square .grid-row {
  display: flex;
}

.square  .grid-row div {
  border: 1px solid black;
  margin: 1px;
}
